*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    width: 100%;
    min-height: 120vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(images/back.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 0;
    position: sticky;
    top:0;
    z-index: 222;
}
.logo{
    width: 150px;
    cursor: pointer;
    border-radius: 20px;
}
nav ul{
    color: white;
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(63, 63, 214, 0.459);
    font-weight: 500;
    cursor: pointer;
}

.btn img{
    width: 50px;
    margin-right:10px ;
}
.content{
    margin-top: 14%;
    color: white;
    max-width: 620px;
}
.content h1{
    font-size: 50px;
    font-weight: 700;
    line-height: 65px;
    margin-bottom: 25px;
}
.content p{
    font-size: 20px;
}
.nav-link{
    cursor:pointer;
}
.error{
    /* display: flex; */
    transform: translateX(850px)translateY(-400px);
    width: 40vw;
}
.page-footer{
    width: 100vw;
    height: 5rem; 
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(-155px)translateY(15px);
}
.page-footer p{
    margin-bottom: 0;
}

.fa-brands{
    font-size: 20px;
}
.fa-sharp{
    font-size: 20px;
}
.fa-brands{
    letter-spacing: 8px;
}

/* style3 coding() */


.container3{
    position: absolute;
    width: 100%;
    min-height: 170vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(images/wtf.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
.nav3{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 0;
    position: sticky;
    top:0;
}
.logo3{
    /* transform: translateY(100px); */
    width: 230px;
    cursor: pointer;
}
.nav3 ul{
    color: white;
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
.nav3 ul li{
    display: inline-block;
    margin: 10px 20px;
}
.nav3 ul li a{
    color: #fff;
    text-decoration: none;
}
.btn3{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(63, 63, 214, 0.459);
    font-weight: 500;
    cursor: pointer;
}

.btn3 img{
    width: 50px;
    margin-right:10px ;
}
/* .coding{
    transform: translateX(500px);
} */
.wrapper3{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    
}
.wrapper3 h1{
    transform: translateY(30px);
}
.coding{
    width: 500px;
    transform: translateY(90px);
}
.wrapper3 p{
    transform: translateY(120px);
    font-size: 30px;
    
}
.coding1{
    width: 500px;
    transform: translateY(150px)translateX(500px);
}
.text3{
    width: 700px;
    height: 100px;
    text-align: start;
    align-items: start;
    justify-content: center;
    transform: translateX(-550px)translateY(650px);
}
.text p{
    font-size: 15px;
    background: black;
}

.page-footer3{
    width: 99.3vw;
    height: 5rem; 
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(-155px)translateY(540px);
}
.page-footer3 p{
    margin-bottom: 0;
}
.fa-brands{
    font-size: 20px;
}
.fa-sharp{
    font-size: 20px;
}
.fa-brands{
    letter-spacing: 8px;
}

/* contact Us//style4 */

.container4{
    width: 100%;
    min-height: 120vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(images/contact.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
.nav4{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 0;
    position: sticky;
    top:0;
}
.logo4{
    /* transform: translateY(100px); */
    width: 230px;
    cursor: pointer;
}
.nav4 ul{
    color: white;
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
.nav4 ul li{
    display: inline-block;
    margin: 10px 20px;
}
.nav4 ul li a{
    color: #fff;
    text-decoration: none;
}
.btn4{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(63, 63, 214, 0.459);
    font-weight: 500;
    cursor: pointer;
}

.btn4 img{
    width: 50px;
    margin-right:10px ;
}
.wrapper4{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 30vh;
    width: 420px;
    background:transparent;
    border: 2px solid rgba(255,255,255,.2);
    backdrop-filter: blur(10px);
    box-shadow: 0 0 10px rgba(0,0,0,.5);
    color: #fff;
    transform: translateX(550px)translateY(200px);
    border-radius: 10px;
    padding: 30px 40px;
}
.wrapper4 h1{
    font-size: 36px;
    text-align: center;
}
.wrapper4 .input-box{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 10px 0;
}
.input-box input {
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 5px;
    font-size: 16px;
    color: #fff;
    padding: 20px 45px 20px 20px;
}
.input-box input::placeholder{
    color: #fff;
}
.input-box i {
    position: absolute;
    right: 20px;
    top:50%;
    transform: translateY(-50%);
    font-size: 20px;
}
.remember-forgot label input{
    accent-color:#fff;
    margin-right: 3px;

}
select.input-box{
    width: 100%;
    height: 30px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 5px;
    font-size: 16px;
    padding:  10px;
    color: white;
}
select option{
    color: black;
}
.wrapper4 .btn44{
    width: 70%;
    height: 45px;
    background: #fff;
    border: none;
    outline: none;
    border-radius: 40px;
    box-shadow: 0 0 10px rgba(0,0,0,.1);
    cursor: pointer;
    font-size: 16px;
    color: #333;
    font-weight: 600;
    transform: translateX(40px)translateY(15px);
}



.wrapper4 .input-box1{
    position: relative;
    width: 100%;
    height: 50%;
    margin: 10px 0;
}
.input-box1 ::placeholder{
    color:#fff;
}
.input-box1 input{
    width: 100%;
    height: 45px;
    background: transparent;
    border: none;
    outline: none;
    border: 2px solid rgba(255,255,255,.2);
    border-radius: 5px;
    font-size: 16px;
    color:white;
    padding: 20px 45px 20px 20px;
    padding: 0 20px 0;
}
.input-box input::placeholder{
    color: #fff;
}

.page-footer4{
    width: 99.3vw;
    height: 5rem; 
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(-155px)translateY(414px);
}
.page-footer4 p{
    margin-bottom: 0;
}

.fa-brands{
    font-size: 20px;
}
.fa-sharp{
    font-size: 20px;
}
.fa-brands{
    letter-spacing: 8px;
}

/* developing style2// */

.container2{
    width: 100%;
    min-height: 120vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(images/astronomy.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
.nav2{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 0;
}
.logo2{
    /* transform: translateY(100px); */
    width: 230px;
    cursor: pointer;
}
.nav2 ul{
    color: white;
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
.nav2 ul li{
    display: inline-block;
    margin: 10px 20px;
}
.nav2 ul li a{
    color: #fff;
    text-decoration: none;
}
.btn2{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(63, 63, 214, 0.459);
    font-weight: 500;
    cursor: pointer;
}

.btn2 img{
    width: 50px;
    margin-right:10px ;
}

.web-dev{
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 37vw;
    height: 700px;
    /* border: 3px solid black; */
    border-radius: 20px;
    font-size: 20px;
    color:chocolate;
    position: absolute;
    left: 400px;
    backdrop-filter: blur(2px);
    box-shadow: 0 0 20px black;
}
.dev{
    border-top: 1px solid #64748b;
    width: 500px;
    height: 300px;
    transform: translateY(30px);
}
.web-dev h1{
    color: #fff;  
}
.web-dev p{
    border-top: 1px solid #64748b; 
}
.web-dev li{
    display: flex;
}   
.image{
    position: absolute;
    top: 200px;
    right: 200px;
}
.list{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position:relative;
    right: 0px;
}
.list img{
    top: 100px;
    right: 20px;
    padding: 0px;
}

.list  h1{
    width: 350px;
    height:10px;
    /* border: 1px solid black; */
    color: #fff;
}

.list ul{
    transform: translateY(450px)translateX(550px);
    backdrop-filter: blur(1px);
    border-radius: 40px;
    /* list-style-type: square; */
    /* text-align: center; */
    line-height: 2.6;
}
.list ul ::marker{
    color:rgb(0, 238, 255);
    font-family: fantasy;
    font-size: 20px;
    content: "axplane: ";
}
.list li{
    font-size: 20px;
}
.list h1{
    font-size: 25px;
}
.lineup{
    border-top: 2px solid #64748b;
    transform: translateY(500px);
}
.lineup2{
    border-top: 2px solid #64748b;
    transform: translateY(600px);
}

.page-footer2{
    width: 99.3vw;
    height: 5rem; 
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(-155px)translateY(666px);
}
.page-footer2 p{
    margin-bottom: 0;
}
.fa-brands{
    letter-spacing: 8px;
}

/* stylecss1//computer science */

.container1{
    width: 100%;
    min-height: 120vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(images/back.jpg);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
.nav1{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 0;
    position: sticky;
    top:0;
    z-index: 222;
}
.logo1{
    width: 230px;
    cursor: pointer;
}
.nav1 ul{
    color: white;
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
.nav1 ul li{
    display: inline-block;
    margin: 10px 20px;
}
.nav1 ul li a{
    color: #fff;
    text-decoration: none;
}
.btn1{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(63, 63, 214, 0.459);
    font-weight: 500;
    cursor: pointer;
}

.btn1 img{
    width: 50px;
    margin-right:10px ;
}
.computer-science{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.computer-science h1{
    color: white;
    transform: translateY(-230px);
}
.science{
    border-radius: 30px;
    transform: translateY(100px);
}
.text1{
    display: flex;
    width: 400px;
    height: 250px;
    transform: translateY(-450px);
    color: #fff;
    font-size: 20px;
}

.page-footer1{
    width: 99.3vw;
    height: 5rem; 
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(-155px)translateY(65px);
}
.page-footer1 p{
    margin-bottom: 0;
}
.fa-brands{
    letter-spacing: 8px;
}



