*{
    margin: 0;
    padding: 0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}
.container{
    position: absolute;
    width: 100%;
    min-height: 130vh;
    background-image: linear-gradient(rgba(9,0,77,0.65),rgba(9,0,77,0.65)),url(images/wtf.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
}
nav{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content:space-between ;
    padding: 10px 0;
}
.logo{
    transform: translateY(100px);
    width: 230px;
    cursor: pointer;
}
nav ul{
    color: white;
    list-style: none;
    width: 100%;
    text-align: right;
    padding-right: 60px;
}
nav ul li{
    display: inline-block;
    margin: 10px 20px;
}
nav ul li a{
    color: #fff;
    text-decoration: none;
}
.btn{
    display: flex;
    align-items: center;
    padding: 10px 20px;
    border: 0;
    outline: 0;
    border-radius: 5px;
    background: rgba(63, 63, 214, 0.459);
    font-weight: 500;
    cursor: pointer;
}

.btn img{
    width: 50px;
    margin-right:10px ;
}
/* .coding{
    transform: translateX(500px);
} */
.wrapper{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    color: #fff;
    text-transform: capitalize;
    
}
.wrapper h1{
    transform: translateY(30px);
}
.coding{
    width: 500px;
    transform: translateY(90px);
}
.wrapper p{
    transform: translateY(120px);
    font-size: 30px;
    
}
.coding1{
    width: 500px;
    transform: translateY(150px)translateX(500px);
}
.text{
    width: 700px;
    height: 100px;
    text-align: start;
    align-items: start;
    justify-content: center;
    transform: translateX(-550px)translateY(650px);
}
.text p{
    font-size: 15px;
    background: black;
}












.page-footer{
    width: 100vw;
    height: 5rem; 
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    color: white;
    transform: translateX(-155px)translateY(219px);
}
.page-footer p{
    margin-bottom: 0;
}
.fa-brands{
    font-size: 20px;
}
.fa-sharp{
    font-size: 20px;
}